.alertMessage {
    background: rgba(250, 88, 88, 0.5);
    margin: 10px 0;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in;
    display: flex;
}

.alertMessage span {
    font-weight: 600;
    height: 25px;
    margin-right: 8px;
}

.activeMessage {
    padding: 15px;
    min-height: 50px;
}

.addressContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: darkslategray;
    background: rgba(255, 255, 255, 0.701);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.addressContainer span {
    font-weight: 600;
    padding: 5px 0;
}

.activeAddress {
    padding: 25px;
    min-height: 120px;
}